<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage_MyprojectList_Detail</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/user/mypage/mypagemain.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/footer.css}">

</head>
<body>

    <div style="height: 340px; width: 1440px;">
        <header th:replace="user/common/header :: headerFragment">

        </header>
    </div>

    <main style="height: 850px; width: 1440px;">
        <div>
            <div class="mypageSM" style="float: left; width: 20%; height: 850px;">
                <!-- 서포터 메이커 마이페이지 이동 버튼-->
                <div class="toggleButton">
                    <button id="supporterButton" onclick="location.href='/user/mypage/mypageMain'">서포터</button>
                    <button id="makerButton" onclick="location.href='/user/mypage/mypageMain_Maker'">메이커</button>
                </div>
                <!-- 프로필 사진 -->
                <div class="profileImg">
                    <em class="inputProfileImage" style="background-image: url(/images/user/common/myPageProfile02.png);"></em>
                </div>
                <!-- 포인트 -->
                <div class="pointBox">
                    <input type="text" name="point" id="point" value="여기에 회원 포인트 들어감">
                </div>
            </div>

            <div style="float: left; width: 80%; height: 850px; margin-top: 50px;">
                <div class="detailBarBox">
                    <table class="myprojectDetailBar"  style="width: 80%; margin-top: 50px;">
                        <tr>
                            <td>프로젝트정보</td>
                            <td>스토리</td>
                            <td onclick="location.href='/user/mypage/news'">새소식</td>
                            <td onclick="location.href='20_mypage_Cheer_Review.html'">응원/리뷰</td>
                            <td style="border-right: none;">리워드정보</td>
                        </tr>
                    </table>
                </div>

                <div class="productImg" style="float: left; margin-left: 30px; margin-right: 50px; margin-top: 50px;">
                    <em class="inputProductImage" style="background-image: url(/images/user/common/myPageProfile02.png);"></em>
                </div>

                <div class="myprojectDetail" style="float: left; margin-top: 30px;">
                    <p><strong>projectName</strong></p>
                    <p>프로젝트 번호 : projectNo</p>
                    <p>수수료 : serviceCharge</p>
                    <p>목표금액 : targetAmount</p>
                    <p>달성액 : achievedAmount</p>
                    <p>시작일 : startDate</p>
                    <p>종료일 : endDate</p>
                    <p>마감일 : dueDate</p><br>
                    <button onclick="location.href='/user/mypage/payment_Status'">결제현황</button><br><br>
                    <button onclick="location.href='/user/mypage/settlement_Info'">정산정보</button>
                </div>
            </div>
        </div>
    </main>

    <div style="height: 322px; width: 1440px;">
        <footer th:replace="user/common/footer :: footerFragment">

        </footer>
    </div>

</body>
</html>